.col-lg-3 img {
    height: 150px;
    width: 100%;
    margin-right: 1000px;
}

.service-subsection {
    position: relative;
    overflow: hidden;
}

.service-subsection img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.service-subsection:hover img {
    transform: scale(1.1);
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-subsection:hover .service-text {
    opacity: 1;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: #fff;
}

.navbar-nav .nav-link.dropdown-toggle::after {
    display: inline-block;
    margin-left: 2px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.navbar-nav .nav-link.dropdown-toggle:hover::after {
    border-top-color: #7475c8;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeInDown 0.5s ease-in-out;
}


.navbar-nav .nav-link.dropdown-toggle:hover::after {
    border-top-color: #f8f9fa;
}

.navbar-nav .nav-link.disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.navbar-nav .nav-link.dropdown-toggle.disabled::after {
    border-top-color: #6c757d;
}

#mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #7475c8;
}


.navbar-brand img {
    height: 90px;
    width: 180px;
    padding: 0px;
    margin: 0px;
}