section.container {
    margin-top: 50px;
}

img.logo {
    width: 100%;
    max-width: 150px;
    display: block;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

h3 {
    color: #555;
    font-size: 26px;
    margin-bottom: 15px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.navbar-brand {
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.main h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.main h3 {
    color: #555;
    font-size: 26px;
    margin-bottom: 15px;
}

.main p {
    color: #666;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
}
