.navbar-brand img {
    height: 90px;
    width: 180px;
    padding: 0px;
    margin: 0px;
}
#mainNav.is-visible{
    height: 120px;
}
#mainNav.is-fixed{
    top: -120px;
}
@media (max-width: 800px) {

#mainNav.is-fixed{
    top: -0px;
}
.navbar-brand img {
    height: 70px;
    width: 140px;

}


#mainNav.is-visible {
height: auto;
}


}






.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mu-service {
    margin-top: 8vh;
}

.mu-service-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mu-service-header {
    text-align: center;
    color: #4243a6;
}

.mu-service-content-single {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 95%;
    height: 85%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 8vh;
}

@media (min-width: 1200px) {
    .mu-service-content-single {
        flex: 1 0 400px;
        width: 400px;
        height: 550px;
    }
}

.mu-service-content-single:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mu-service-icon-box {
    color: #7475c8;
    font-size: 50px;
    margin-bottom: 20px;
}

h4 {
    color: #7475c8;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    text-align: center;
    color: #333;
    font-size: 16px;
}

.mu-service-content-single img {
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: #fff;
}

.footer {
    position: relative;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    text-align: center;
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.footer-top img {
    width: 400px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 15px;
}

.footer-section ul li a:hover {
    color: #7475c8;
}

.footer-section address {
    margin-top: 10px;
    font-style: normal;
    color: #fff;
}

.footer-bottom p {
    font-size: 24px;
    color: white;
    z-index: 1000;
}

@media (max-width: 768px) {
    .footer-top img {
        margin-right: 0;
    }

    .footer-middle {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-middle div {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.masthead {
    animation: cambiar-fondo 10s infinite;
}

@keyframes cambiar-fondo {
    0% {
        background-image: url("../assets/img/Limpieza\ Industrial.jpg");
    }

    33% {
        background-image: url("../assets/img/Gestion\ de\ recursos\ hhumanos.jpg");
    }

    66% {
        background-image: url("../assets/img/Fumigacion.jpg");
    }

    100% {
        background-image: url("../assets/img/Limpieza\ Industrial.jpg");
    }
}

.site-heading h1 {
    font-weight: 600;
}

.nav-item .nav-link a {
    color: red !important;
}

.col-lg-3 img {
    height: 150px;
    width: 100%;
    margin-right: 1000px;
}

.service-subsection {
    position: relative;
    overflow: hidden;
}

.service-subsection img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.service-subsection:hover img {
    transform: scale(1.1);
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-subsection:hover .service-text {
    opacity: 1;
}

.navbar-nav .nav-link.dropdown-toggle::after {
    display: inline-block;
    margin-left: 2px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.navbar-nav .nav-link.dropdown-toggle:hover::after {
    border-top-color: #7475c8;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
}

.dropdown-item {
    color: #333;
    transition: background-color 0.3s ease-in-out;
    padding: 12px 20px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #7475c8;
}

.navbar-nav .nav-link.dropdown-toggle:hover::after {
    border-top-color: #f8f9fa;
}

.navbar-nav .nav-link.disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.navbar-nav .nav-link.dropdown-toggle.disabled::after {
    border-top-color: #6c757d;
}

#mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #7475c8;
}



h1, .h1{
    color: #3f4097;
}

h1, .h3{
    color: #7475c8;
}
h1, .h4{
    color: #7475c8;
}
h1, p{
    color: #3f4097;
}




